/*
    管理画面のcss レイアウト
*/
.username {
    margin: 10px;
}
.sidebar {
    padding: 0px;
    border-right: 1px solid #ccc; 
}
.sidebar .list-group-item {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: .0 !important;
    border-bottom-left-radius: 0 !important;
}
main {
    margin: 30px;
}
