/*
    管理画面のcss レイアウト
*/
body {
    min-height: 100%;
}
.username {
    margin: 10px;
}
.sidebar {
    padding: 0px;
    border-right: 1px solid #ccc; 
}
.sidebar .list-group-item {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: .0 !important;
    border-bottom-left-radius: 0 !important;
}
main {
    margin: 30px;
}
.head_menu {
    text-align: right;
    margin:10px;
}
.head_menu .btn {
    margin: 0px 10px;
}
.foot_menu {
    text-align: center;
    margin:10px;
}
.foot_menu .btn {
    margin: 0px 10px;
}
